<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Airline Login</title>
    <style>
      body{
        font-family: arial;
      }
    </style>
  </head>
  <body>
    <h1>Airline Login</h1>
    <p><a href="/">Back</a></p>
    <br>
    <form action="/aCheck" method="post">
      <input type="email" name="email" placeholder="Email" required>
      <br>
      <br>
      <input type="password" name="password" placeholder="Password" required>
      <br>
      <br>
      <input type="submit" value="Enter">
    </form>
    <br>
    <h1>Sign Up</h1>
    <br>
    <p><%= msg %></p>
    <br>
    <form action="/aRegister" method="post">
      <input type="text" name="name" placeholder="Airline Name" required>
      <br>
      <br>
      <input type="email" name="email" placeholder="Email" required>
      <br>
      <br>
      <input type="password" name="password" placeholder="Password">
      <br>
      <br>
      <input type="text" name="description" placeholder="Description" required>
      <br>
      <br>
      <input type="submit" value="Register">


    </form>
  </body>
</html> -->



<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Airline Login</title>
      <link rel="stylesheet" href="/alogin.css">
  </head>
  <body>
    <div class="box">
      <h1>Airline Login</h1>
      <br>
      <h3>Login</h3>
      <p><%= aloginErr %></p>
      <form action="/aCheck" method="post">
        <input class="ib" type="email" name="email" placeholder="Email" required>
        <input class="ib" type="password" name="password" placeholder="Password" required>
        <input class="submitBtn" type="submit" value="Enter">
      </form>
      <br>
      <br>
      <h3>Sign Up</h3>
      <p><%= msg %></p>
      <form action="/aRegister" method="post">
        <input class="ib" type="text" name="name" placeholder="Airline Name" required>

        <input class="ib" type="email" name="email" placeholder="Email" required>
        <br>
        <br>
        <input class="ib" type="password" name="password" placeholder="Password">

        <input class="ib" type="text" name="description" placeholder="Description" required>
        <br>
        <br>
        <input class="submitBtn" type="submit" value="Register">
      </form>
      <br>
      <br>
      <p><a href="/">BACK</a></p>
    </div>
  </body>
</html>
