<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <h1>Login or Register Below</h1>
    <h2>Login</h2>
<form action="/index.html" method="post">
  <input type="text" name="email" placeholder="email" required>
  <input type="text" name="password" placeholder="password" required>
  <input type="submit" value="submit">
</form>
<h2>Register</h2>
<form action="/" method="post">
<input type="text" name="name" placeholder="name" required>
<input type="email" name="email" placeholder="email" required>
<input type="password" name="password" placeholder="password" required>
  <input type="submit" value="Create">
</form>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Airplane_clipart.svg/320px-Airplane_clipart.svg.png" alt="">
  </body>
</html>
