<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to gAirline</title>
  </head>
  <body>
    <h1>Welcome to gAirline</h1>
    <br>
    <form action="/check" method="post">
      <input type="email" name="email" placeholder="Enter email">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Enter">
    </form>
  </body>
</html>
