<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trips</title>
    <link rel="stylesheet" href="/css/master.css">
    <style>
    body{
      background-image: url('https://images.unsplash.com/photo-1454388683759-ee76c15fee26?w=1350&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
      background-size: cover;
    }
    h1{
      text-align: center;
      color: white;
    }

    table, td{border: 1px solid white}
    h1{text-decoration: underline}
    table{text-align: center}
    img{
      padding: 50px;
    }
    h2{
      padding-left: 50px;
      padding-top: 5%;
      color: white;
    }
    form{
      padding-left: 50px;
      color: white
    }
    .credit{
        padding-left: 50px;
        color: white;
        padding-top: 25%;
    }
    </style>
  </head>
  <body>
    <h1>TRIPS</h1>
    <h2>Create New Trip</h2>
    <form action="/trips" method="post">
      <% for(let i=0;i<flights.length;i++){ %>
<select name="flight">
<option value="flight"><%= flights[i] %></option>
</select>
<input type="submit" value="Create">
<% } %>
    </form>
    <h2>Trips</h2>
    <table>
      <thead>
        <tr>
          <td>TITLE</td>
          <td>DESCRIPTION</td>
          <td>FLIGHT ID</td>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0; i<tripsList.length; i++){ %>
          <tr>
            <td><%= tripsList[i].title %></td>
            <td><%= tripsList[i].description %></td>
            <td><%= tripsList[i].flight_id %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
<p class="credit">Photo by Brett Campbell on Unsplash</p>
  </body>
</html>
